<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
	<ModelProjectPath>../../../../../model</ModelProjectPath>
	<ModelLocalPath>models/model.onnx</ModelLocalPath>
	<TrainingDataPath>model_data.csv</TrainingDataPath>
	<RiskTolerance>0.75</RiskTolerance>
	<Interval>15</Interval>
	<SequenceLength>10</SequenceLength>
	<PredictionInterval>5</PredictionInterval>
	<Symbol>ETH</Symbol>
</Configuration>