<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
	<ModelProjectPath>../../../../../model</ModelProjectPath>
	<ModelLocalPath>models/model.onnx</ModelLocalPath>
	<TrainingDataPath>resampled_data.csv</TrainingDataPath>
	<RiskTolerance>0.75</RiskTolerance>
	<Interval>720</Interval>
	<SequenceLength>10</SequenceLength>
	<PredictionInterval>5</PredictionInterval>
	<Symbol>ETH</Symbol>
	<LimitOffset>0.5</LimitOffset>
	<TradePercentageThreshold>0.01</TradePercentageThreshold>
	<EnvFilePath>./.env</EnvFilePath>
</Configuration>